*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}
body{
   display: grid;
   grid-template-areas: 
   "header header header"
   ". main ."
   "footer footer footer";
   grid-template-rows: 10% 800px 10%;
   grid-template-columns: 1fr 5fr 1fr; 
}
header{
   background-color: blueviolet;
   grid-area: header;
}
main{
   background-color: aquamarine;
   grid-area: main;
}
footer{
   background-color:brown;
   grid-area: footer;
}